{% if item.product.image %}
<a href="{{ item.product.image.url }}" target="_blank">
    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
</a>
{% else %}
<a href="{% if item.product.image_url %}{{ item.product.image_url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}"
    target="_blank">
    <img class="img-fluid rounded"
        src="{% if item.product.image_url %}{{ item.product.image_url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}"
        alt="{{ item.product.name }}">
</a>
{% endif %}