<script>

    function handleEnableDisable2(incrementButton, decrementButton, currentValue){
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 49;
        $(incrementButton).prop("disabled", plusDisabled);
        $(incrementButton.parentElement.parentElement).prop("disabled", plusDisabled);
     
        $(decrementButton).prop("disabled", minusDisabled);
        $(decrementButton.parentElement.parentElement).prop("disabled", minusDisabled);
    }

    // Check enable/disable every time the input is changed
    $(".qty_input").change(function (event) {
        const currentValue =  $(this).val();
        if (currentValue > 49) {
            $(this).val(49);
        }
        if (currentValue < 1) {
            $(this).val(1);
        }
    });

    // Increment quantity
    $(".increment-qty").click(function (e) {
        e.preventDefault();
        var closestInput = $(this).closest(".input-group").find(".qty_input")[0];
        var currentValue = parseInt($(closestInput).val()) + 1;
        if (currentValue < 49){
            $(closestInput).val(currentValue);
        }
        var itemId = $(this).data("item_id");
        const decrementButton =  $(this).closest(".input-group").find('.decrement-qty')[0];
        handleEnableDisable2(e.target, decrementButton, currentValue)
    });

    // Decrement quantity
    $(".decrement-qty").click(function (e) {
        e.preventDefault();
        var closestInput = $(this).closest(".input-group").find(".qty_input")[0];
        var currentValue = parseInt($(closestInput).val()) - 1;
        if (currentValue > 0) {
            $(closestInput).val(currentValue);
        }
        var itemId = $(this).data("item_id");
        const incrementButton = $(this).closest(".input-group").find('.increment-qty')[0];
        handleEnableDisable2(incrementButton, e.target, currentValue);
    });
</script>
