{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Wishlist</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if wishlist %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    {% for item in wishlist %}
                    <tr>
                        <td class="p-3 w-25">
                            {% if item.product.image %}
                            <a href="{{ item.product.image.url }}" target="_blank">
                                <img class="card-img-top img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid"
                                    src="{% if item.product.image_url %}{{ item.product.image_url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}"
                                    alt="{{ item.product.name }}">
                            </a>
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0">
                                <a href="{% url 'product_detail' item.product.id %}" target="_blank" class="text-black">
                                    <strong>{{ item.product.name }}</strong>
                                </a>
                            </p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form action="{% url 'remove_from_wishlist' item.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="item-id" value="{{ item.id }}">
                                <input type="submit" value="Remove" class="btn text-danger">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your wishlist is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/wishlist/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}
