{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container h-100 empty-page-container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 mt-5 text-center">
                <h1>403 error</h1>
                <hr class="home-break">
                <h3 class="mt-3">Forbidden</h3>
                <br>
                <p>
                    Looks like you're trying to access forbidden content. <br>
                    Please log out and sign in to the correct account.
                </p>
                <a href="{% url 'account_logout' %}" class="btn btn-outline-black d-inline m-2 mb-4">Log out</a>
                <a href="{% url 'home' %}" class="btn btn-outline-black d-inline m-2 mb-4">Home</a>
            </div>
        </div>
    </div>
{% endblock %}
