<footer class="container-fluid footer-container">
    <div class="row p-lg-3 bg-secondary">
        <div class="col-12 col-md-4 p-4">
            <div>
                <h3 class="mb-4 text-white">Stay in Touch!</h3>
                <ul class="list-inline social-networks">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank" rel="nofollow"
                            aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook text-white"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank" rel="nofollow"
                            aria-label="Visit our Instagram page (opens in new tab)"><i class="fab fa-instagram text-white"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/" target="_blank" rel="nofollow"
                            aria-label="Visit our Twitter page (opens in new tab)"><i class="fab fa-twitter text-white"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/" target="blank" rel="nofollow"
                            aria-label="Visit our Youtube page (opens in new tab)"><i class="fab fa-youtube text-white"></i></a>
                    </li>
                </ul>
            </div>
            <!-- Mailchimp embedded signup form -->
            <div id="mc_embed_signup" class="bg-transparent">
                <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=cdac1479ca337210fecb3f3de&amp;id=c96e3fb369&amp;f_id=00e5d9e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate m-0" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <p class="text-white sign-up-text">Sign up to our monthly newsletter to keep up to date with all of our new stock!</p>
                        <div class="mc-field-group">
                            <label class="text-white" for="mce-EMAIL">Email Address<span class="asterisk">*</span></label>
                            <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" autocomplete="on">
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response text-light p-0 m-0" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <!--real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            <input type="text" name="b_cdac1479ca337210fecb3f3de_c96e3fb369" tabindex="-1" value="">
                        </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-black mt-2">
                            </div>
                        </div>
                    </div>
                </form>
            </div>           
        </div>
        <div class="col-12 col-md-4 px-4 px-md-0 py-4 border-mid my-auto">
            <ul class="nav flex-column px-4">
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link text-uppercase text-white">All Products</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'view_help_center' %}" class="nav-link text-uppercase text-white">Help Center</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'products' %}?category=new_arrivals,deals,limited_offers&special=true" class="nav-link text-uppercase text-white">Special Offers</a>
                </li>
                <li class="nav-item">
                    <button id="privacy-policy-btn" class="btn nav-link text-uppercase text-white">Privacy Policy</button>
                </li>
                <li class="nav-item">
                    <button id="tos-btn" class="btn nav-link text-uppercase text-white">Terms of Service</button>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4 p-4 text-center">
            <h3 class="mb-4 text-white">Payment Methods</h3>
            <img class="payment-image mb-2" src="{{ MEDIA_URL }}AmericanExpress.png" alt="American Express">
            <img class="payment-image mb-2" src="{{ MEDIA_URL }}DinersClub.png" alt="Diners Club">
            <img class="payment-image mb-2" src="{{ MEDIA_URL }}Discover.png" alt="Discover">
            <img class="payment-image mb-2" src="{{ MEDIA_URL }}MasterCard.png" alt="MasterCard">
            <img class="payment-image mb-2" src="{{ MEDIA_URL }}VISA.png" alt="VISA">
        </div>
    </div>
    <!-- Modals -->
    <div id="privacy-policy-modal" class="modal">
        <div class="modal-content">
            <span class="close-privacy-policy">&times;</span>
            {% include 'includes/privacy_policy.html' %}
        </div>
    </div>
    <div id="tos-modal" class="modal">
        <div class="modal-content">
            <span class="close-tos">&times;</span>
            {% include 'includes/tos.html' %}
        </div>
    </div>
</footer>

{% block postloadjs %}
{% include 'includes/modal_script.html' %}
{% endblock %}