<script type="text/javascript">
    // Get the modal
    var privacy_policy_modal = document.getElementById("privacy-policy-modal");
    var tos_modal = document.getElementById("tos-modal");
    // Get the button that opens the modal
    var privacy_policy_btn = document.getElementById("privacy-policy-btn");
    var tos_btn = document.getElementById("tos-btn");
    // Get the <span> element that closes the modal
    var privacy_policy_span = document.getElementsByClassName("close-privacy-policy")[0];
    var tos_span = document.getElementsByClassName("close-tos")[0];
    // When the user clicks on the button, open the modal
    privacy_policy_btn.onclick = function() {
        privacy_policy_modal.style.display = "block";
    }
    tos_btn.onclick = function() {
        tos_modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    privacy_policy_span.onclick = function() {
        privacy_policy_modal.style.display = "none";
    }
    tos_span.onclick = function() {
        tos_modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target === tos_modal) {
            tos_modal.style.display = "none";
        }
        if (event.target === privacy_policy_modal) {
            privacy_policy_modal.style.display = "none";
        }
    }
</script>