{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Ask a Question {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-font my-4 text-center">Ask a Question</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 mt-3">
            <form method="post" action="{% url 'submit_question' %}">
                {{ question_form | crispy }}
                {% csrf_token %}
                <div class="row">
                    <div class="col mb-3">
                        <button type="submit" class="btn btn-black btn-lg float-right ml-2 mb-2">Submit</button>
                        <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg float-right">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
