{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Ticket #{{ question.id}} {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="overlay"></div>
<div class="container mb-2 empty-page-container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font my-4 text-center">Question #{{ question.id }}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6 mt-3">
            <table class="table">
                <tbody>
                    <tr>
                        <th>User:</th>
                        <td>{{ question.user }}</td>
                    </tr>
                    <tr>
                        <th>Question regarding:</th>
                        <td>{{ question.get_questions_regarding_display }}</td>
                    </tr>
                    <tr>
                        <th>Question:</th>
                        <td>{{ question.your_question }}</td>
                    </tr>
                    <tr>
                        <th>Date:</th>
                        <td>{{ question.date }}</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn btn-outline-dark m-2" href="{%  url 'view_dashboard' %}">Back</a>
            <a class="btn btn btn-outline-dark my-2" href="{%  url 'view_answer' question.id %}">Answer</a>
            <a class="btn btn btn-outline-danger m-2" href="{%  url 'delete_question' question.id %}">Delete</a>
            {% if answer %}
            <div class="col">
                <h2 class="logo-font my-4 text-center">Answer/s</h2>
            </div>
            {% for ans in answer %}
            <table class="table">
                <tbody>
                    <tr>
                        <th>Responder:</th>
                        <td>{{ ans.responder }}</td>
                    </tr>
                    <tr>
                        <th>Answer:</th>
                        <td>{{ ans.answer }}</td>
                    </tr>
                    <tr>
                        <th>Date:</th>
                        <td>{{ ans.date }}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}